repos:
-   repo: https://github.com/ambv/black
    rev: 26.1.0
    hooks:
    -   id: black
        name: "Format: Black"
        args: ["--exclude", "test/resources", "--exclude", ".venv", "."]
        pass_filenames: false
-   repo: https://github.com/pycqa/isort
    rev: 8.0.0
    hooks:
    -   id: isort
        name: "Format: ISort"
-   repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
    -   id: shfmt
        name: "Format: ShFmt"
-   repo: local
    hooks:
    -   id: verify-install-requirements
        name: "Scan:   Verify Install Requirements Match"
        language: system
        entry: pipenv run python utils/verify_install_requirements.py
        pass_filenames: false
-   repo: https://github.com/pycqa/flake8
    rev: '7.3.0'
    hooks:
    -   id: flake8
        name: "Scan:   Flake8"
        args: ["-j", "4", "--exclude", "dist,build,.venv,test/resources", "."]
        additional_dependencies: ["flake8-bugbear==24.8.19", "flake8-bandit==4.1.1"]
        pass_filenames: false
-   repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
    -   id: bandit
        name: "Scan:   Bandit"
        args: [--configfile, .bandit.yaml, -q, -r, "application_properties"]
        pass_filenames: false
-   repo: local
    hooks:
    -   id: pylint
        name: "Scan:   PyLint"
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        args: ["-j=1", "--recursive=y", "-rn", "-sn", "application_properties"]
        pass_filenames: false
-   repo: local
    hooks:
    -   id: pylint
        name: "Scan:   PyLint (test)"
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        args: ["-j=1", "--ignore", "test/resources", "--recursive=y", "-rn", "-sn",
          "test"]
        pass_filenames: false
-   repo: local
    hooks:
    -   id: pylint
        name: "Scan:   PyLint (utils)"
        entry: pylint
        language: system
        types: [python]
        require_serial: true
        args: ["-j=1", "--recursive=y", "-rn", "-sn", "utils"]
        pass_filenames: false
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    -   id: mypy
        name: "Scan:   MyPy"
        args: [--warn-return-any, --strict, application_properties]
        additional_dependencies: [tomli, types-PyYAML, pyjson5]
        pass_filenames: false
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    -   id: mypy
        name: "Scan:   MyPy (test)"
        args: [--warn-return-any, --exclude, test/resources, --strict, test]
        additional_dependencies: [tomli, types-PyYAML, pyjson5, pytest]
        pass_filenames: false
-   repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.35
    hooks:
    -   id: pymarkdown
        name: "Scan:   PyMarkdown (Old Documentation)"
        pass_filenames: false
        args:
        -   --config
        -   clean.json
        -   scan
        -   changelog.md
        -   README.md
        -   ./docs
-   repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.35
    hooks:
    -   id: pymarkdown
        name: "Scan:   PyMarkdown (New Documentation)"
        pass_filenames: false
        args:
        -   --config
        -   newdocs/clean.json
        -   scan
        -   ./newdocs/src
-   repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
    -   id: shellcheck
        name: "Scan:   Shellcheck"
        args: ["-x", "-o", "require-variable-braces"]
