[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
setuptools = "==82.0.1"
sourcery = "==1.43.0"
build = "==1.5.0"
cookieslicer = "==0.1.5"
coverage = "==7.14.1"
importlib-metadata = "==9.0.0"
mkdocs = "==1.6.1"
mkdocs-material = "==9.7.6"
mkdocs-mermaid2-plugin = "==1.2.3"
mkdocstrings = "==1.0.4"
mkdocstrings-python = "==2.0.3"
pip-check-updates = "==0.28.0"
pdoc3 = "==0.11.6"
pre-commit = "==4.6.0"
pre-commit-update = "==0.9.0"
project-summarizer = "==0.6.0"
py = "==1.11.0"
pylint = "==4.0.5"
pylint-utils = "==0.6.0"
pymdown-extensions = "==10.21.3"
pyroma = "==5.0.1"
pytest = "==9.0.3"
pytest-console-scripts = "==1.4.1"
pytest-cov = "==7.1.0"
pytest-html = "==4.2.0"
pytest-timeout = "==2.4.0"
pytest-xdist = "==3.8.0"
pyyaml = "==6.0.3"
tomli = "==2.4.1"
twine = "==6.2.0"
typing-extensions = "==4.15.0"
pyjson5 = "==2.0.1"

[packages]
typing-extensions = ">=4.5.0"
tomli = ">=2.0.1"
pyyaml = ">=5.4.1"
pyjson5 = ">=1.6.9"

[requires]
python_version = "3.13"

[pipenv]
allow_prereleases = false
